@import "variables.scss";

.sidebar {
  width: $sidebar-width;
  height: 100vh;
  -webkit-box-shadow: 0 0.125rem 0.8rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.125rem 0.8rem rgba(0, 0, 0, 0.1);
  -webkit-transition: all $transition-time;
  transition: all $transition-time;
  overflow: hidden;
  &:hover,
  &:active,
  &:focus {
    overflow-y: auto;
  }
}

.img-logo {
  -webkit-transition: all $transition-time;
  transition: all $transition-time;
  -webkit-filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.2))
    drop-shadow(-2px 2px 0 rgba(0, 0, 0, 0.2))
    drop-shadow(2px -2px 0 rgba(0, 0, 0, 0.2))
    drop-shadow(-2px -2px 0 rgba(0, 0, 0, 0.2));

  filter: drop-shadow(2px 2px 0 rgba(0, 0, 0, 0.2))
    drop-shadow(-2px 2px 0 rgba(0, 0, 0, 0.2))
    drop-shadow(2px -2px 0 rgba(0, 0, 0, 0.2))
    drop-shadow(-2px -2px 0 rgba(0, 0, 0, 0.2));
}

.nav-item {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  &:hover {
    background: $gray-400;
  }
  &.highlight {
    background-color: $primary;
    .nav-link {
      color: $gray-100;
    }
    -webkit-box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.15);
  }
  .nav-link {
    color: $gray-800;
  }
}

// Media query
@media (max-width: $medium-screen-size) {
  .sidebar {
    width: $sidebar-width-md !important;
  }
  .hide-md {
    display: none;
  }
  .text-large-center-md {
    text-align: center;
    font-size: $text-xl;
  }
  .img-logo {
    width: $sidebar-width-md - 1rem;
    height: $sidebar-width-md - 1.5rem;
  }
}
