<div class="fixed top-0 z-10 bg-default w-72 h-screen shadow-r animate-sidebar
  md:shadow-none md:w-auto md:flex md:flex-col md:justify-between md:static md:h-86vh"
  [ngClass]="sidebarVisible ? 'block' : 'hidden'">
  <!-- Below button for mobile view -->
  <div class="inline-block absolute top-3 right-2 z-20 cursor-pointer md:hidden"
    (click)="onCloseClick()">
    <span class="text-3xl leading-7 bx bx-x hover:text-danger"></span>
  </div>

  <nav class="mt-18 md:mt-0">
    <a *ngFor="let menu of menuModels"
      class="flex items-center gap-5 h-12 text-muted font-medium pl-4 hover:text-primary"
      (click)="onSideMenuClick(menu.name)"
      [routerLink]="'/'+menu.name"
      [ngClass]="selectedMenuName == menu.name ? 'active-menu' : ''">
      <span class="text-2xl leading-0" [ngClass]="menu.iconClass"></span>
      <h4 class="">{{menu.labelKey | translate}}</h4>
    </a>
  </nav>
</div>