<!-- Vertical navbar -->
<div class="vertical-nav fixed-top bg-white">
  <div class="py-4 px-3 mb-4">
    <a [routerLink]="homeUri">
      <div class="media d-flex align-items-center">
        <img loading="lazy" src="images/p-1.png" alt="..." width="80" height="80" class="rounded-circle img-thumbnail shadow-sm">
        <div class="media-body hide-md ml-3">
          <h4 class="m-0">Investman</h4>
          <p class="font-weight-normal text-muted mb-0">Manage Investments</p>
        </div>
      </div>
    </a>
  </div>

  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Menu1</p>
  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a href="javascript:void(0)" class="nav-link text-dark text-large-center-md active">
        <i class="fas fa-columns fa-fw text-primary"></i>
        <span class="hide-md pl-3">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="javascript:void(0)" class="nav-link text-dark text-large-center-md">
        <i class="fas fas fa-file-contract text-primary fa-fw"></i>
        <span class="hide-md pl-3">Reports</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="javascript:void(0)" class="nav-link text-dark text-large-center-md">
        <i class="fas fa-chart-line text-primary fa-fw"></i>
        <span class="hide-md pl-3">Charts</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="javascript:void(0)" class="nav-link text-dark text-large-center-md">
        <i class="fas fa-clipboard-check text-primary fa-fw"></i>
        <span class="hide-md pl-3">Tickets</span>
      </a>
    </li>
  </ul>

  <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Menu2</p>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a href="javascript:void(0)" class="nav-link text-dark text-large-center-md">
        <i class="fas fa-chalkboard text-primary fa-fw"></i>
        <span class="hide-md pl-3">Option 1</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="javascript:void(0)" class="nav-link text-dark text-large-center-md">
        <i class="fas fa-chalkboard text-primary fa-fw"></i>
        <span class="hide-md pl-3">Option 2</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="javascript:void(0)" class="nav-link text-dark text-large-center-md">
        <i class="fas fa-chalkboard text-primary fa-fw"></i>
        <span class="hide-md pl-3">Option 3</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="javascript:void(0)" class="nav-link text-dark text-large-center-md">
        <i class="fas fa-chalkboard text-primary fa-fw"></i>
        <span class="hide-md pl-3">Option 4</span>
      </a>
    </li>
  </ul>
</div>
<!-- End vertical navbar -->
