@import "variables.scss";

.sidebar {
  width: $sidebar-width;
  height: 100vh;
  -webkit-box-shadow: 0 0.125rem 0.8rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.125rem 0.8rem rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  overflow-y: auto;
  &.shrink {
    width: $sidebar-width-md;
    text-align: center;
  }
}

.nav-item {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  &:hover {
    background: $gray-300;
  }
  &.highlight {
    background-color: $primary;
    .nav-link {
      color: $gray-100;
    }
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  .nav-link {
    color: $gray-800;
  }
}
