@import "variables.scss";

.content {
  width: calc(100% - $sidebar-width);
  margin-left: $sidebar-width;
  -webkit-transition: all $transition-time;
  transition: all $transition-time;
}

@media (max-width: $medium-screen-size) {
  .content {
    width: calc(100% - $sidebar-width-md);
    margin-left: $sidebar-width-md !important;
  }
}
