<!-- Vertical navbar -->
<div id="sidebar" class="md:w-56 md:min-h-screen shadow-xl">
  <!-- sidebar -->
  <div class="flex items-center justify-center h-20">
    <span class="text-2xl font-bold text-primary-600">
      Investman
    </span>
  </div>
  <!-- logo -->
  <nav class="font-semibold text-gray-300 dark:text-gray-700">
    <a class="block pl-4 py-3 rounded-sm" (click)="onSideMenuClick(menuNames.dashboard)"
      [ngClass]="selectedMenuName == menuNames.dashboard ? '' : 'hover:text-gray-800 dark:hover:text-gray-400'"
      [routerLink]="'/'+menuNames.dashboard">
      <div class="flex items-center"
       [ngClass]="selectedMenuName == menuNames.dashboard ? 'border-r-4 border-primary-600' : ''">
        <i class="fas fa-columns fa-fw text-lg font-semibold"
          [ngClass]="selectedMenuName == menuNames.dashboard ? 'text-primary-600': ''"></i>
        <span class="px-4"
          [ngClass]="selectedMenuName == menuNames.dashboard ? 'text-gray-700 dark:text-primary-500 dark:border-primary-400': ''" translate>menu.dashboard</span>
      </div>
    </a>
    <a class="block pl-4 py-3 rounded-sm" (click)="onSideMenuClick(menuNames.earning)"
      [ngClass]="selectedMenuName == menuNames.earning ? '' : 'hover:text-gray-800 dark:hover:text-gray-400'"
      [routerLink]="'/'+menuNames.earning">
      <div class="flex items-center"
       [ngClass]="selectedMenuName == menuNames.earning ? 'border-r-4 border-primary-600' : ''">
        <i class="fas fa-wallet fa-fw text-lg font-semibold"
          [ngClass]="selectedMenuName == menuNames.earning ? 'text-primary-600': ''"></i>
        <span class="px-4"
          [ngClass]="selectedMenuName == menuNames.earning ? 'text-gray-700 dark:text-primary-500 dark:border-primary-400': ''" translate>menu.earning</span>
      </div>
    </a>
    <a class="block pl-4 py-3 rounded-sm" (click)="onSideMenuClick(menuNames.saving)"
      [ngClass]="selectedMenuName == menuNames.saving ? '' : 'hover:text-gray-800 dark:hover:text-gray-400'"
      [routerLink]="'/'+menuNames.saving">
      <div class="flex items-center"
       [ngClass]="selectedMenuName == menuNames.saving ? 'border-r-4 border-primary-600' : ''">
        <i class="fas fa-heart fa-fw text-lg font-semibold"
          [ngClass]="selectedMenuName == menuNames.saving ? 'text-primary-600': ''"></i>
        <span class="px-4"
          [ngClass]="selectedMenuName == menuNames.saving ? 'text-gray-700 dark:text-primary-500 dark:border-primary-400': ''" translate>menu.saving</span>
      </div>
    </a>
    <a class="block pl-4 py-3 rounded-sm" (click)="onSideMenuClick(menuNames.investment)"
      [ngClass]="selectedMenuName == menuNames.investment ? '' : 'hover:text-gray-800 dark:hover:text-gray-400'"
      [routerLink]="'/'+menuNames.investment">
      <div class="flex items-center"
       [ngClass]="selectedMenuName == menuNames.investment ? 'border-r-4 border-primary-600' : ''">
        <i class="fas fa-suitcase fa-fw text-lg font-semibold"
          [ngClass]="selectedMenuName == menuNames.investment ? 'text-primary-600': ''"></i>
        <span class="px-4"
          [ngClass]="selectedMenuName == menuNames.investment ? 'text-gray-700 dark:text-primary-500 dark:border-primary-400': ''" translate>menu.investment</span>
      </div>
    </a>
    <a class="block pl-4 py-3 rounded-sm" (click)="onSideMenuClick(menuNames.reports)"
      [ngClass]="selectedMenuName == menuNames.reports ? '' : 'hover:text-gray-800 dark:hover:text-gray-400'"
      [routerLink]="'/'+menuNames.reports">
      <div class="flex items-center"
       [ngClass]="selectedMenuName == menuNames.reports ? 'border-r-4 border-primary-600' : ''">
        <i class="fas fa-file-contract fa-fw text-lg font-semibold"
          [ngClass]="selectedMenuName == menuNames.reports ? 'text-primary-600': ''"></i>
        <span class="px-4"
          [ngClass]="selectedMenuName == menuNames.reports ? 'text-gray-700 dark:text-primary-500 dark:border-primary-400': ''" translate>menu.reports</span>
      </div>
    </a>
  </nav>
</div>