/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.theme-light {
    --primary: #0284C7;
    --text-default: #27272A;
    --text-secondary: #A1A1AA;
    --text-error: #ff0033;
    --bg-default: #ffffff;
    --bg-secondary: #F4F4F5;
    --bg-input-box: #ffffff;
    --border-default: #D4D4D8;
    --border-secondary: #D4D4D8;
    --gradient-light-50: #F0F9FF;
    --gradient-light-100: #DBEAFE;
    --bg-danger: #FECACA;
    --text-danger: #7F1D1D;
    --bg-safe: #BBF7D0;
    --text-safe: #14532D;
    --bg-warn: #FDE68A;
    --text-warn: #92400E;
    --bg-info: #E9D5FF;
    --text-info: #581C87;
}

.theme-dark {
    --primary: #0284C7;
    --text-default: #D4D4D8;
    --text-secondary: #7f8082;
    --text-error: #F43F5E;
    --bg-default: #2b2b2c;
    --bg-secondary: #3b3f41;
    --bg-input-box: #52525B;
    --border-default: #53535C;
    --border-secondary: #53535C;
    --gradient-light-50: #3b3f41;
    --gradient-light-100: #3f4345;
    --text-danger: #FECACA;
    --bg-danger: #7F1D1D;
    --text-safe: #BBF7D0;
    --bg-safe: #14532D;
    --text-warn: #FDE68A;
    --bg-warn: #92400E;
    --text-info: #E9D5FF;
    --bg-info: #581C87;
}

.theme-transition {
    transition: background-color .2s, border-color .2s, color .2s;
}

.blur-background {
    @apply backdrop-filter backdrop-blur-sm backdrop-brightness-75 backdrop-contrast-75;
}

.remove-press-highlight {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    &:focus {
        outline: 0;
        border: none;
        color: rgba(0, 0, 0, 0);
    }
}

@layer components {
    .btn-primary {
        @apply text-white rounded bg-primary;
        &:focus {
            @apply outline-none ring ring-sky-300;
        }
    }
    .input-box {
        @apply rounded bg-input-box border border-default;
        &.icon-space {
            @apply pl-10;
        }
        &:focus {
            @apply outline-none border-2 border-primary;
        }
    }
}