// Grayscale Text Utilities

.text-xs {
  font-size: $text-xs;
}

.text-lg {
  font-size: $text-lg;
}

.text-xl {
  font-size: $text-xl;
}

@each $level, $value in $grays {
  .text-gray-#{$level} {
    color: $value !important;
  }
}

.icon-circle {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
