<section>
  <div class="flex items-center">
    <h1>Dashboard</h1>
  </div>
  <div class="mt-4 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-4">
    <div class="bg-component p-6 lg:p-4 rounded-xl shadow-xl hover:shadow-primary/20 transition-shadow duration-200 ease-in">
      <span class="p-2 badge-info text-2xl leading-6 bx bxs-bar-chart-alt-2 rounded-full"></span>
      <div class="flex items-center justify-between">
        <div class="left">
          <h3 class="my-3 text-sm">Total sales</h3>
          <h1 class="font-medium">31.45</h1>
        </div>
        <div class="relative rounded-full">
          <svg class="w-20 h-20 flex items-center justify-center">
            <circle class="stroke-primary stroke-progress" cx="32" cy="32" r="30"></circle>
          </svg>
          <div class="absolute top-0 left-0 flex items-center justify-center h-full w-full text-sm">
            <p>86%</p>
          </div>
        </div>
      </div>
      <small class="text-muted mt-4 block">Last hour</small>
    </div>
    <!-- End of card 1 -->

    <div class="bg-component p-6 lg:p-4 rounded-xl shadow-xl hover:shadow-primary/20 transition-shadow duration-300">
      <span class="p-2 badge-safe text-2xl leading-6 bx bxs-bar-chart-alt-2 rounded-full"></span>
      <div class="flex items-center justify-between">
        <div>
          <h3 class="my-3 text-sm">Total sales</h3>
          <h1 class="font-medium">31.45</h1>
        </div>
        <div class="relative rounded-full">
          <svg class="w-20 h-20 flex items-center justify-center">
            <circle class="stroke-primary stroke-progress" cx="32" cy="32" r="30"></circle>
          </svg>
          <div class="absolute top-0 left-0 flex items-center justify-center h-full w-full text-sm">
            <p>86%</p>
          </div>
        </div>
      </div>
      <small class="text-muted mt-4 block">Last hour</small>
    </div>
    <!-- End of card 2 -->

    <div class="bg-component p-6 lg:p-4 rounded-xl shadow-xl hover:shadow-primary/20 transition-shadow duration-300">
      <span class="p-2 badge-danger text-2xl leading-6 bx bxs-bar-chart-alt-2 rounded-full"></span>
      <div class="flex items-center justify-between">
        <div>
          <h3 class="my-3 text-sm">Total sales</h3>
          <h1 class="font-medium">31.45</h1>
        </div>
        <div class="relative rounded-full">
          <svg class="w-20 h-20 flex items-center justify-center">
            <circle class="stroke-primary stroke-progress" cx="32" cy="32" r="30"></circle>
          </svg>
          <div class="absolute top-0 left-0 flex items-center justify-center h-full w-full text-sm">
            <p>86%</p>
          </div>
        </div>
      </div>
      <small class="text-muted mt-4 block">Last hour</small>
    </div>
    <!-- End of card 3-->
  </div>
  <!-- End of cards -->
  <div class="grid grid-cols-4 gap-4 justify-between mt-8 ">
    <div>
      <h4 class="font-medium">Income</h4>
      <div>
        <details class="font-extralight">
          <h2>234.23</h2>
          <h6 class="text-safe font-semibold">+1.2%</h6>
        </details>
        <small class="text-muted">Compared to last month</small>
      </div>
    </div>
    <!-- End report 1 -->

    <div>
      <h4 class="font-medium">Expense</h4>
      <div>
        <details class="font-extralight">
          <h2>234.23</h2>
          <h6 class="text-safe font-semibold">+2.6%</h6>
        </details>
        <small class="text-muted">Compared to last month</small>
      </div>
    </div>
    <!-- End report 1 -->

    <div>
      <h4 class="font-medium">Saving</h4>
      <div>
        <details class="font-extralight">
          <h2>234.23</h2>
          <h6 class="text-error font-semibold">-2.3%</h6>
        </details>
        <small class="text-muted">Compared to last month</small>
      </div>
    </div>
    <!-- End report 1 -->

    <div>
      <h4 class="font-medium">Investment</h4>
      <div>
        <details class="font-extralight">
          <h2>234.23</h2>
          <h6 class="text-safe font-semibold">+4.2%</h6>
        </details>
        <small class="text-muted">Compared to last month</small>
      </div>
    </div>
    <!-- End report 1 -->
  </div>
  <!-- End of monthly report -->

  <div class="flex flex-col items-start mt-6 self-center gap-4">
    <h2>Fast Paymetn</h2>
    <div class="flex self-center flex-wrap gap-4 max-w-full">
      <div class="py-2 px-4 bg-component rounded-lg flex items-center gap-4">
        <span class="bx bx-plus text-2xl leading-6 flex self-center justify-center"></span>
      </div>
      <div class="py-2 px-4 bg-component rounded-lg flex items-center gap-4 hover:shadow-lg transition-shadow">
        <span class="bg-primary w-2 h-2 rounded-full"></span>
        <div class="flex gap-6 self-center">
          <h5>Training</h5>
          <h4>23.54</h4>
        </div>
      </div>
      <div class="py-2 px-4 bg-component rounded-lg flex items-center gap-4 hover:shadow-lg transition-shadow">
        <span class="bg-green-600 w-2 h-2 rounded-full"></span>
        <div class="flex gap-6 self-center">
          <h5>Training</h5>
          <h4>23.54</h4>
        </div>
      </div>
      <div class="py-2 px-4 bg-component rounded-lg flex items-center gap-4 hover:shadow-lg transition-shadow">
        <span class="bg-red-600 w-2 h-2 rounded-full"></span>
        <div class="flex gap-6 self-center">
          <h5>Training</h5>
          <h4>23.54</h4>
        </div>
      </div>
      <div class="py-2 px-4 bg-component rounded-lg flex items-center gap-4 hover:shadow-lg transition-shadow">
        <span class="bg-yellow-500 w-2 h-2 rounded-full"></span>
        <div class="flex gap-6 self-center">
          <h5>Training</h5>
          <h4>23.54</h4>
        </div>
      </div>
    </div>
  </div>
  <!-- End fast payment -->

  <canvas class="bg-component max-w-full mt-6 rounded-lg p-4 shadow-xl"
    baseChart
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [colors]="lineChartColors"
    [legend]="lineChartLegend"
    chartType="line"
    [plugins]="lineChartPlugins">
  </canvas>

  <div class="mt-6">
    <h2 class="mb-3">Orders</h2>
    <div class="p-4 bg-component flex items-center justify-center rounded-xl
      shadow-xl hover:shadow-primary/20 transition-shadow ease-in duration-200">
      <table class="w-full text-center">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>101</td>
            <td>Halva</td>
            <td>1200</td>
            <td class="text-warn">Pending</td>
          </tr>
          <tr>
            <td>101</td>
            <td>Halva</td>
            <td>1200</td>
            <td class="text-safe">Delivered</td>
          </tr>
          <tr>
            <td>101</td>
            <td>Halva</td>
            <td>1200</td>
            <td class="text-danger">Cancelled</td>
          </tr>
        </tbody>
      </table>
    </div>
    <a href="javascript:void(0)" class="text-center block mt-4 lg:mb-4 mx-auto text-primary">Show all</a>
  </div>
</section>
