<section class="flex max-h-full">
  <div class="w-96 p-7 space-y-5 hidden md:block">
    <img src="./assets/img/login/growth_8mqx.svg" alt="reader">
  </div>
  <main class="flex-auto space-y-7 p-2">
    <div class="flex items-center justify-center p-5">
      <h4 class="text-3xl font-black text-black">
        Log in
      </h4>
    </div>

    <form action="#" class="space-y-4">
      <section class="flex flex-col items-center justify-center">
        <div class="relative mt-1 w-80">
          <i class='absolute top-0 m-3 bx bxs-user'></i>
          <input type="email" id="emailInp"
            class="p-4 h-10 pl-10 flex-1 rounded w-full text-sm focus:outline-none border border-gray-200 focus:border-red-400 font-light"
            placeholder="email address">
        </div>

        <div class="relative mt-1 w-80 mb-2">
          <i class='absolute top-0.5 m-3 bx bxs-key'></i>
          <input type="password" id="passwordInp"
            class="p-4 h-10 pl-10 flex-1 rounded w-full text-sm focus:outline-none border border-gray-200 focus:border-red-400 font-light"
            placeholder="password">
        </div>

        <button
          class="focus:outline-none bg-red-400 focus:bg-red-500 focus:ring focus:ring-red-200 w-80 h-9 text-white rounded">Log
          in</button>
      </section>
    </form>

    <section class="flex flex-col items-center justify-center space-y-4">
      <div class="sign_up_link space-x-1">
        <span class="text-sm font-light">Don't have an account?</span> <a
          class="text-red-500 hover:text-red-600 text-sm font-light hover:underline" href="#">Sign up</a>
      </div>
    </section>
  </main>
</section>