@import "variables.scss";

.topbar {
  min-height: $topbar-base-height;
  .topbar-divider {
    width: 0;
    border-right: 1px solid $gray-500;
    height: 2.375rem;
    margin: auto 1rem;
  }
  #sidebarToggleTop {
    height: 2.5rem;
    width: 2.5rem;
    &:hover {
      background-color: $gray-200;
    }
    &:active {
      background-color: $primary;
    }
  }
  .nav-item {
    &:focus {
      outline: none;
    }
    .nav-link {
      height: $topbar-base-height - 1rem;
      display: flex;
      align-items: center;
      padding: 0 0.75rem;
      position: relative;
      .badge-counter {
        position: absolute;
        transform: scale(0.7);
        transform-origin: top right;
        right: 0.25rem;
        margin-top: -0.25rem;
      }
      .img-profile {
        height: 2rem;
        width: 2rem;
      }
      &:focus {
        outline: none;
      }
    }
  }
}

// Custom dropdown style
.dropdown {
  position: static;
  .dropdown-menu {
    width: calc(100% - 1.5rem);
    right: 0.75rem;
    font-size: $dropdown-font-size;
    .dropdown-header {
      font-weight: 800;
      font-size: 0.65rem;
      color: $gray-300;
    }
  }
}

.dropdown-menu {
  border-radius: $border-radius;
}

.dropdown-list {
  padding: 0;
  border: none;
  overflow: hidden;
  .dropdown-header {
    background-color: $primary;
    border: 1px solid $primary;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: $gray-100;
  }
  .dropdown-item {
    white-space: normal;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $gray-300;
    line-height: 1.3rem;
    .dropdown-list-image {
      position: relative;
      height: 2.5rem;
      width: 2.5rem;
      img {
        height: 2.5rem;
        width: 2.5rem;
      }
    }
    .text-truncate {
      max-width: 19rem;
    }
    &:active {
      background-color: $primary;
      color: $gray-200;
    }
  }
}

@media (min-width: $small-screen-size) {
  .topbar .dropdown {
    position: relative;
    .dropdown-menu {
      width: auto;
      right: 0;
    }
  }
  .dropdown-list {
    width: $topbar-dropdown-width !important;
    .dropdown-item .text-truncate {
      max-width: 13.5rem;
    }
  }
}
