<header class="fixed top-0 md:static w-full md:bg-secondary bg-default theme-transition shadow-lg
  md:shadow-none mb-1 md:mb-2">
    <div class="flex justify-between items-center h-14 md:h-20 px-3">
      <div class="flex h-full md:flex-wrap md:content-end items-center justify-center">
        <div (click)="onMobileMenuClick()" class="block md:hidden">
          <i class="bx bx-menu text-3xl"></i>
        </div>
        <span class="ml-2 text-xl font-semibold text-default
          md:text-default md:text-lg">{{selectedMenu | translate}}</span>
      </div>
      <div class="lg:ml-auto flex items-center justify-center">
        <div class="relative inline-flex item ml-3 cursor-pointer remove-press-highlight"
          (click)="onThemeChange()">
          <i *ngIf="constants.light == appMode" class='text-default text-3xl bx bx-moon'></i>
          <i *ngIf="constants.dark == appMode" class='text-yellow-200 text-3xl bx bxs-sun'></i>
        </div>

        <hr class="w-px h-6 bg-gray-400 mx-3">
        <div class="flex items-center justify-between gap-2 remove-press-highlight cursor-pointer"
          (click)="onUserIconClick()">
          <img class="w-8 h-8 rounded-full overflow-hidden object-cover" src="assets/img/cat.jpg" alt="User">
          <span class="hidden md:inline">User name</span>
        </div>
      </div>
    </div>
</header>