<header class="sticky top-0 md:bg-secondary bg-default theme-transition shadow-lg
  md:shadow-none mb-1 md:mb-2">
  <div class="px-4 md:pr-6 lg:pr-8">
    <div class="flex justify-between items-center h-14 md:h-20">
      <div class="flex h-full md:flex-wrap md:content-end items-center justify-center">
        <div (click)="onMobileMenuClick()" class="block md:hidden">
          <i class="bx bx-menu text-3xl"></i>
        </div>
        <span class="ml-2 lg:font-semibold text-xl font-semibold text-primary
          md:text-default md:text-lg md:font-semibold">{{selectedMenu | translate}}</span>
      </div>
      <div class="lg:ml-auto flex items-center justify-center">
        <div class="relative inline-flex item ml-3 cursor-pointer">
          <i *ngIf="constants.light == appMode" class='text-default text-3xl bx bx-moon' (click)="onThemeChange()"></i>
          <i *ngIf="constants.dark == appMode" class='text-yellow-200 text-3xl bx bxs-sun' (click)="onThemeChange()"></i>
        </div>

        <hr class="w-px h-6 bg-gray-400 mx-3">
        <investman-user-options></investman-user-options>
      </div>
    </div>
  </div>
</header>