// Global component styles

html {
  position: relative;
  min-height: 100vh;
}

body {
  min-height: 100vh;
}

a {
  &:focus {
    outline: none;
  }
  &:hover {
    text-decoration: none;
  }
}

// Scrollbars
* {
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color;
}

*::-webkit-scrollbar {
  width: $scrollbar-width;
}

*::-webkit-scrollbar-track {
  background: $scrollbar-track-color;
}

*::-webkit-scrollbar-thumb {
  background-color: $scrollbar-thumb-color;
}
