// Global component styles

html {
  position: relative;
  min-height: 100vh;
}

body {
  min-height: inherit;
  min-width: inherit;
}

a {
  &:focus {
    outline: none;
  }
  &:hover {
    text-decoration: none;
  }
}

// Scrollbars
* {
  scrollbar-width: thin;
  scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color !important;
  &::-webkit-scrollbar {
    width: $scrollbar-width;
  }
  &::-webkit-scrollbar-track {
    background: $scrollbar-track-color;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb-color !important;
    border-radius: 0.25rem;
  }
}
